@use '../../../../styles/index.scss' as *;

.pagination {
  position: relative;
  @include flex-item-align(row, center, center);
  gap: 1rem;

  &-items {
    width: 1rem;
    height: 1rem;
    background: #5a5a5a;
    border-radius: 50%;
    cursor: pointer;

    // &:hover {
    //   background: $base-active-select-bg-color;
    //   width: calc(28 / 16) + rem;
    //   border-radius: 50px 50px;
    // }
  }

  .active {
    background: $base-active-select-bg-color;
    width: calc(28 / 16) + rem;
    border-radius: 50 50;
  }
}
