@use '../../../../styles/index.scss' as *;

.filter-bar {
  position: relative;
  margin: calc(30 / 16) + rem 0;
  @include flex-item-align(row, center, space-between);

  width: 100%;

  .filterbar-container {
    position: relative;
    // width: calc(400 / 16) + rem;
    @include flex-item-align(row, center, space-between);
    gap: 1rem;
    padding: 0;
    // background-color: red;
  }
}
