@use "../../styles/index.scss" as *;

.track-navigation {
  @include flex-item-align(row, center, flex-start);
  gap: 1rem;
  width: 100%;
  color: $base-active-color-text;

  div  {
    cursor: pointer;
  }

}
