@use "../../styles/index.scss" as *;

.filter-bar,
.fiterbar-box {
  position: relative;
}

.btn__filter {
  display: flex;
  position: relative;
  align-items: center;
  font-size: 16px;
  gap: 8px;
  background: #1f1f1f;
  outline: none;
  border: none;
  color: $base-inactive-color-text;
  padding: 8px 16px;
  border-radius: $base-border-box;
  margin-right: 4px;
  font-family: $base-font-family-inter;
  cursor: pointer;
}

.dropdown-arrow {
  position: relative;
  left: calc(16px / 2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-menu-filter {
  position: absolute;
}
