@use "../../styles/index.scss" as *;

.nav-bar {
  position: relative;
  height: 100%;
  width: calc(98 / 16) + rem;
  padding: calc(36 / 16) + rem 0;
  @include flex-item-align(column, center, space-between);

  .app-logo {
    @include flex-center;
  }

  .menu {
    @include flex-center;
  }

  .menu-list {
    @include flex-item-align(column, center);
    gap: calc(2 / 16) + rem;

    & li button {
      @include flex-center; // center the svg
      width: 100%;
      height: 100%;
      @include no-btn;
    }

    & li {
      position: relative;
      width: calc(56 / 16) + rem;
      height: calc(56 / 16) + rem;
      transition: all ease $base-hover-time;
      border-radius: $base-border-size;
    }

    & li:hover {
      background: $base-hover-color;
      cursor: pointer;
    }

    // Modifier when the item is selected
    .selected {
      background: $base-active-select-bg-color;

      & button svg {
        color: $base-active-color-text;
      }
      & button::after {
        content: "";
        position: absolute;
        display: inline-block;
        width: 1rem;
        height: 4px;
        bottom: calc(8 / 16) + rem;
        border-radius: $base-border-size;
        background-color: #674684;
      }
    }
  }
}
