<main class="main-app">
  <section class="side-bar">
    <app-navbar
      [activeForm]="isActive"
      (activeFormEmitter)="handleSetActiveForm($event)"
    ></app-navbar>
  </section>

  <main class="main">
    <!-- [serach-bar ] cotainer-->
    <div class="main-searchbar">
      <app-filter></app-filter>
      <app-search-bar></app-search-bar>
    </div>

    <div class="to-login-component">
      <app-to-login></app-to-login>
    </div>

    <!-- <section class="color-form">
      <app-create-color-form
        *ngIf="isActive && true"
        (activeFormEmitter)="handleSetActiveForm($event)"
      ></app-create-color-form>
    </section> -->

    <div class="main-colors-section">
      

      <!-- list colors section -->
      <app-color-list [colors]="(colors$ | async) || []"></app-color-list>

      <!--paginaton secction-->
      <section class="pagination-content">
        <app-pagination></app-pagination>
      </section>
    </div>
  </main>
</main>

<!-- <app-navbar></app-navbar>




<h1>HOme page done</h1>
<h1>Color page done !</h1>


<code>
  <pre>
 There are about {{
      (colors$ | async)?.length ? (colors$ | async)?.length : 0
    }} items of the colors</pre
  >
</code>

<app-create-color-form> </app-create-color-form>
<app-color-list [colors]="(colors$ | async) || []"></app-color-list> -->
