@use "../../styles/index.scss" as *;

.colors {
  position: relative;

  &-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }

  &-item {
    background: $base-card-color;
    @include flex-center
  }
}
