@use "../../../styles.scss" as index;

.login-title {
  padding-bottom: 48px;
}
.auth-form {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Inter";
  gap: 16px;
  padding: 16px;
}

.auth-form fieldset {
  position: relative;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: #121212;
  padding: 32px;
}
.username input,
.password input {
  background: none;
  border-radius: 4px;
  border: 1px solid index.$base-border-color;
  padding: 8px;
  color: red;
  outline: none;
  font-size: 16px;
}
.btn__login {
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    padding: 8px 28px;
    color: red;
    background: none;
    border: 1px solid red;
    border-radius: 4px;
    text-transform: capitalize;
    cursor: pointer;
  }
}

.register-box {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: 32px;
}

.register-pack {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
}
.register-pack div {
  background-color: #121212;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 8px;
  gap: 8px;
  cursor: pointer;
  text-transform: capitalize;
  font-weight: 200;
}
.register-pack div > span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.or-separator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 8px;
  margin-top: 16px;
}

.or-separator::before {
  content: "";
  flex: 1;
  background:  index.$base-border-color;
  width: 100%;
  height: 2px;
  margin-right: 8px;
}
.or-separator::after {
  content: "";
  flex: 1;
  background:  index.$base-border-color;
  width: 100%;
  height: 2px;
  margin-left: 8px;
}

// footer
.footer-login {
  position: absolute;
  bottom: 0;
  left: 50%;
  bottom: -20%;
  transform: translateX(-50%);
  width: fit-content;
}
