@use "../../styles/index.scss" as *;
.dropdown-menu {
  position: relative;
  padding: calc(4 / 16) + rem calc(8 / 16) + rem;
  gap: 8rem;
  font-family: "Poppins";
  border-radius: $base-border-box;
  border: 1px solid $base-active-select-bg-color;

  @include flex-item-align(row, center, center);

  .left-side {
    @include flex-item-align(row, center, center);
    gap: calc(12 / 16) + rem;

    .filter-icon {
      @include flex-item-align(row, center, center);
    }

    .items-selected {
      width: 2.3rem;
      color: $base-active-color-text;
      border-radius: 50px 50px;
      background: #6a487c;
      @include flex-item-align(row, center, center);
    }
  }

  .rigth-side {
    @include flex-item-align(row, center, center);

    .rotated {
      transform: rotate(180deg); // rotate
    }
  }

  // Styles to dropdown menu
}
.dropdown-menu-list-container {
  position: absolute;
  border-radius: $base-border-box;
  padding: 0.4rem;
  // right: -0.5rem;
  background: #121212;
  z-index: 10000;
  width: calc(308.5px - 0.4*16px); // base width
  // bottom: 4rem;
  .dropdown-menu-list {
    // important

    &-item {
      @include flex-item-align(row, center, flex-start);
      padding: calc(10 / 16) + rem 1rem;
      gap: 1rem;
      text-transform: capitalize;
      border-radius: $base-border-box;

      &:hover {
        background: $base-active-select-bg-color;
        color: $base-active-color-text;
        cursor: pointer;
      }
      .menu-selected-accesibility {
        @include flex-item-align(row, center, center);
        gap: 0.8rem;
      }
      .item-selected-color {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background: #ca96e5;
      }
    }
  }
}

// ********** Custom styles ******************/
.selected {
  background-color: $base-active-select-bg-color;
  color: $base-active-color-text;
}
