@use "../../../styles.scss";

.dropdown-menu {
  position: relative;
  background: #191919;
  border: 1px solid $base-border-color;
  border-radius: 4px;
  z-index: 10000;
  overflow: hidden;
  display: block;
}

.menu-title {

  display: flex;
  justify-content: center;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 400;
  gap: 4px;
  border-bottom: 1px solid $base-color-text;
}

.menu-list {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 200;
  width: 100%;
  // text-transform: capitalize;
}

.menu-list li {
  position: relative;
  padding: 6px 40px 6px 6px;
  display: flex;
  align-items: center;
  justify-content: start;
  text-transform: capitalize;
  gap: 6px;

}


.menu-list li span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 4px;
}

.menu-list li:hover {
  // background-color: #111;
  background: rgba(53, 50, 32,.9);

  cursor: pointer;
}


.seleted {
  background-color: #111;
}
