<form class="signup-form" [formGroup]="signUpForm">
  <fieldset>
    <div class="name">
      <input
        type="text"
        class="name-input"
        name="name"
        formControlName="name"
        placeholder="John Doe"
      />
    </div>
    <div class="lastName">
      <input
        type="text"
        class="lastName-input"
        formControlName="lastName"
        name="lastName"
        placeholder="Nadal Morales"
      />
    </div>
    <div class="phone">
      <input
        type="text"
        class="phone-input"
        name="phone"
        formControlName="phone"
        placeholder="19342-42934823-24234"
      />
    </div>
    <div class="email">
      <input
        type="text"
        class="email-input"
        name="email"
        formControlName="email"
        placeholder="jonhdoe@example.com"
      />
    </div>

    <div class="address">
      <input
        type="text"
        class="address-input"
        name="address"
        formControlName="address"
        placeholder="av. fourth"
      />
    </div>
    <div class="username">
      <input
        type="text"
        class="username-input"
        name="username"
        formControlName="username"
        placeholder="username"
      />
    </div>
    <div class="password">
      <input
        type="text"
        class="password-input"
        name="password"
        formControlName="password"
        placeholder="password"
      />
    </div>
    <div class="repeat-password">
      <input
        type="text"
        class="repeat-password-input"
        name="repeat-password"
        formControlName="repeat-password"
        placeholder="repeat your password"
      />
    </div>
  </fieldset>
  <div>
    <button class="btn__singup" (click)="handleAddCretendialsForm()">
      register
    </button>
  </div>

  <pre>
    <!-- <code>{{res$ | async }}</code> -->
  </pre>
</form>
